---
---

<section
	data-testid="about"
	id="about"
	class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-screen lg:flex-row"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-2xl text-orange lg:text-4xl">About me</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-orange"></span>
	</div>

	<div class="w-full text-justify text-black dark:text-white lg:w-1/2">
		<p class="mb-2">
			I'm a software engineer from Tuscaloosa Alabama currently based out of Brooklyn NY. I've
			been fortunate to have had the opportunity to solve some really interesting problems
			while learning from some particularly skilled engineers. I'll do my best to wrap up
			those experiences below.
		</p>
		<p class="mb-2">
			My career started as a contractor for a small hedge fund in CT, building out a fullstack
			client management system with node.js and react. That fund eventually bought GHCO, a
			market maker in London, which presented me with the opportunity to come on as the first
			engineering hire and help build out the team. At GHCO I took part in building out our
			high frequency quoting system, risk monitoring system, and other assorted API's and data
			systems. While I was technically the frontend lead, I ended up doing more work on API's
			and Java based data management projects which lead me to look for an opportunity to
			re-engage my passion for functional front end technologies.
		</p>
		<p class="mb-2">
			That desire for change was met by Hone Health and I was brought on as their first
			front-end hire. I immediately began work on a rebranding initiative from Peak to Hone
			Health and when that concluded I was tasked with updating their financial and patient
			management systems to reduce friction and provide a more seamless user experience.
			Within the first 4 months I was able to double conversion numbers on Hone's at home
			phlebotomy service by overhauling their primary ecommerce checkout. I also assisted in
			architecting and building out our new patient management experience. As of now I am
			wrapping up an additional overhaul of their subscription service and brainstorming new
			problems to solve with the team. I'm happily working with typescript based react in
			Next.js for larger stateful projects and Gatsby.js for smaller static projects.
		</p>
	</div>
</section>
