---
---

<section
	data-testid="about"
	id="about"
	class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-screen lg:flex-row"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-2xl text-orange lg:text-4xl">About me</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-orange"></span>
	</div>

	<div class="w-full text-justify text-black dark:text-white lg:w-1/2">
		<p class="mb-2">
			My career started as a contractor for a small hedge fund in CT, where my first task was
			to build out a full-stack client management system with Node.js and React. That fund
			eventually acquired GHCO, a market maker in London, which presented me with the
			opportunity to come on as the first engineering hire and help build out the team. At
			GHCO, I took part in building our high-frequency quoting system, risk monitoring system,
			and other assorted APIs and data systems. Although I enjoyed my time as a quant
			developer, I spent most of my time working on APIs and Java-based data management
			projects, which led me to look for an opportunity to re-engage with my passion for
			functional front-end technologies.
		</p>
		<p class="mb-2">
			My desire for change was met by Hone Health, where I was brought on as their first
			front-end hire. I immediately began work on a rebranding initiative, transitioning from
			Peak to Hone Health, and when that concluded, I was tasked with updating their financial
			and patient management systems to reduce friction and provide a more seamless user
			experience. Within the first 4 months, I was able to double the conversion numbers on
			Hone's at-home phlebotomy service by overhauling their primary ecommerce checkout. I
			also assisted in architecting and building out their new patient management experience.
		</p>
		<p class="mb-2">
			After a year at Hone, I was approached by a career mentor to help with building out the
			development team and overhaul the existing legacy systems at Suture Health. I helped
			lead hiring across our stack and had the opportunity to both architect and build out the
			new Suture Health web infrastructure. As I write this, I am a little over a year into my
			time at Suture and am leading front-end development as a Principal Front-End Engineer.
			The challenges we've faced have been significant, but what we've been able to accomplish
			so far has been truly remarkable.
		</p>
	</div>
</section>
