---
import heroImage from '@assets/images/hero.png';
import { Image } from '@astrojs/image/components';
import Button from '@components/ui/Button.astro';
---

<section
	data-testid="hero"
	class="flex h-screen flex-col-reverse items-center justify-center text-center lg:flex-row"
>
	<div class="mb-10 flex flex-col items-center lg:mb-0 lg:w-1/2">
		<div>
			<h1 class="mb-10 font-monospace text-3xl text-black dark:text-white lg:text-5xl">
				Hi! My name is <span class="text-orange">Will Golden</span> and I am a web developer
				based in Brooklyn, NY.
			</h1>
		</div>
		<div class="mb-10">
			<a href="#about">
				<Button style={'primary'} size={'lg'} class={'flex'} name="learn more">
					Learn more
				</Button>
			</a>
		</div>
	</div>
	<div data-testid="hero-img" class="mb-10 flex w-1/2 items-center justify-center">
		<Image
			src={heroImage}
			alt="Coding girl"
			aspectRatio="4:4"
			format="png"
			width={1200}
			height={1200}
			loading="eager"
		/>
	</div>
</section>
